.server-page {
  background-color: #547374;
  /* width: 800px;
  height: 700px; */
  width: 100%;


}


/*TABLE DATA START*/
.table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 69%;
  border: 1px solid grey;
}

.table {
  width: 100px;
  height: 80px;
  background-color: #585555;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #585555;
} 

/*TABLE DATA END*/

/*MENU SELECTION START*/
.menu-selections {
  width: 100px;
  height: 490px;
  /* background-color: #EDEDED; */
  margin-top: 40px;
  position: absolute;
  z-index: 5;
}

.circle-container {
  margin-top: 30px;
}

.circle {
height: 100%;
width: 100%;
text-align: center;
background-color: #547374;
border: 1px solid white;
color: white;
text-transform: uppercase;
font-size: 15px;
font-weight: 700;
margin-bottom: 5px;
}

.sides {
  margin-top: 5%;
  height: 60px;
}

.steak {
  margin-top: 5%;
  height: 60px;
  }

.pie {
  margin-top: 5%;
  height: 50px;
  }

/*MENU SELECTION END*/



/*INFO SECTION START*/
.info-section{
  display: flex;
  flex-direction: row;
}
/*INFO SECTION END*/



/*MENU TABLE START*/
.items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  width: 69%;
  height: 705px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.box {
  width: 150px;
  height: 90px;
  margin-bottom: 10px;
  background-color: #edf1f1;
  border: 1px solid #547374;
  border-radius: 5%;
}

/*MENU TABLE END*/



/*TICKET START*/
.tickets {
  background-color: #547374;
  width: 21%;
  height: 450px;
  top: 0;
  left: 69%;
  margin-right:0;
  position: absolute;
}

.title {
  background-color: #547374;
  font-family: 'Audiowide', cursive;
  color: white;
  font-weight: 200;
  font-size: 40px;
  margin-left: 30px;
  text-align: center;
  width: 100%;

}

.bar {
  width: 131%;
  height: 30px;
  background-color: #EDEDED;
  border: 1px solid gray;
}

.ticket {
  width: 395px;
  height: 407px;;
  background-color: white;
  width: 131%;
  border: 1px solid grey;
}

.price-tag {
  width: 132%;
  height: 30%;
  background-color: #585555;
  margin-bottom: 0;
  
}

.extra{
  display: flex;
  width: 132%;
  margin-top: 5%;
}

.price {

  height: 40%;
  width: 7%;
  border: 1px solid white;
  padding: 25px;
  margin:  0 auto;
  
}

.trash {

  height: 40%;
  width: 7%;
  border: 1px solid white;
  padding: 25px;
  margin:  0 auto;
}

.print {

  height: 40%;
  width: 7%;
  border: 1px solid white;
  padding: 25px;
  margin:  0 auto;
}
/*TICKET END*/

/*LOGOUT START*/



.logout {
width: 100px;
height: 50px;
font-weight: 800;
background-color: #547374;
color: white;
z-index: 5;
position: absolute;
margin-top: 43%;


}


/*FOOTER END*/