.view-container {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  
}

/* EMPLOYEE */

.menu-nav {
  width: 115px;
  height: 100vh;
  background-color: #547374;
  display: flex;
  flex-direction: column;

}

/* MANAGER */

/* .menu-nav {
  width: 100px;
  height: 103vh;
  background-color: #547374;
  display: flex;
  flex-direction: column;
} */

.btn-menu {
  background-color: #547374;
  border: none;
  margin: 20px;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-size: 12px;

}

.btn-emp {
  background-color: white;
  border: 1px solid  #C9E0DE;
  margin: 5%;
  text-transform: uppercase;
  color: #547374;
  font-weight: 800;
}

.drink {
 width: 170%;
 margin-top: 8px;
 margin-bottom: 8px;
}

.guac {
  margin-top: 8px;
  margin-bottom: 8px;
}

.ham {
  width: 150%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.pie {
  width: 150%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.server {
  width: 70%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.chef {
  width: 70%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.bar {
  width: 60%;
  margin-top: 8px;
  margin-bottom:8px;
}

/* EMPLOYEE */

 .btn-logout {
  margin-top: 30vh;
  background-color: #547374;
  border: none;
  color: white;
  font-weight: 800;
  margin-left: 15px;
  text-transform: uppercase;
} 

/* MANAGER */

/* .btn-logout {
  margin: 10px;
  background-color: #547374;
  border: none;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  
} */

/* BOX *CONTAINER */

.box-container{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  border: 1px solid #547374;
  background-color: #C9E0DE;
  border-radius: 5%;
  width: 250px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #547374;
  font-weight: 800;
}


/* PRICE *CONTAINER */

.price-container {
  background-color: #547374;
  width: 40%;
  margin: 10px;
  height: 96vh;
}

.title-conatiner{
  display: flex;
  justify-content: space-evenly;
}

.title {
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.tickets {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-evenly;
  font-size:  8px;
 
  margin-top: 10%;
}

.quantity {
  display: flex;

}

.circle {
  border: 1px solid blue;
  background-color: #C9E0DE;
  color: #547374;
  border-radius: 100%;
  width: 28px;
  height: 25px;
  margin-top: 2%;
  text-align: center;
  font-size: 80px;
}

.menu-item-list-container{
  display: flex;
  height: 400px;
  list-style-type: none;
  /* width: 300px; */

}

.price-button {
  background-color: #547374; 

}
.menu-item-list{
  display: flex;
   flex-direction: column;
  font-size: 14px;
  
  width: 200px;
 
  text-transform: uppercase;
}

.trash {
  height: 20px;
  margin-top: 2%;
}

.total-price {
  background-color: white;
  
  color: #547374;
  width: 90%;
  font-size: 20px;
  font-weight: 600;
  margin-left: 5%;
  text-transform: uppercase;
  text-align: center;

}

.new-table-num-input {
  display: flex;
  flex-direction: row;
  color: white;
  width: 60%;
  padding: 10px;
  font-size:  14px;
  text-transform: uppercase;
}

.btn-extra {
  display: flex;
  justify-content: center;
}

.tickets-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
  width: 100%;
 
}