

.form {
    width: 100vw;
    height: 100vh;
    background-color: #547374
}

.title-pos {
    text-align: center;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 200;
    margin: 0;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    margin: 0 auto;
   
}

.form input {
    width: 45%;
    height: 10%;
    margin-bottom: 3%;
}

.account-btn {
    width: 700%;
    height: 200%;
    margin-top: 5%;
    color: white;
    border: none;
    background-color: #38494A;
}

.account {
    color: white;
    text-align: center;
}