.orderDisplayMainFlexCV {
  display: flex;
  justify-content: center;
}

.ticketsContainerCV {
  height: 90vh;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.ticketsContainerCV > article {
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  width: 20vw;
  height: 90%;
}
