@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

.form {
    width: 100vw;
    height: 100vh;
    background-color: #547374
}

.title-pos {
    text-align: center;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
    font-weight: 200;
    margin: 0;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    margin: 0 auto;
   
}

.form input {
    width: 45%;
    height: 10%;
    margin-bottom: 3%;
    font-size: 16px;
}

button {
    width: 45%;
    height: 10%;
    margin-top: 2%;
    color: white;
    border: none;
    font-size: 16px;
    background-color: #38494A;
}

.account {
    color: white;
    text-align: center;
    font-size: 16px;
}